<div id="footer">
  <div class="container text-center">
    <div style="height:40px;" class="col-xs-12"></div>
    <p style=><span style="display:inline-block; transform: rotate(180deg);">&copy;</span> 2022 Interferencias</p>
  </div>
</div>

</body>

</html>
