<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="JASYP C4P" />
	<meta name="keywords" content="JASYP" />
	<meta name="author" content="Germán Martínez Maldonado" />

	<title>JASYP C4P</title>

	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/lib/parsleyjs/src/parsley.css">

	<link rel="stylesheet" href="/style/css/style.css" />

</head>

<body>
	<div class="container">
		<nav class="navbar navbar-inverse">
			<ul class="nav navbar-nav">
				<li><a href="/">Inicio</a></li>
				<li><a href="/papers/create">Crear</a></li>
				<li><a href="/papers/list">Listar</a></li>
			</ul>
		</nav>
