<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="JASYP - Call for Ruido">
  <meta name="keywords" content="privacy, digital rights, computer security">
  <meta name="author" content="German Martinez">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    <%= title %>
  </title>

  <link rel="stylesheet" href="/style/css/style.css">
  <link rel="stylesheet" href="/js/bootstrap/dist/css/bootstrap.min.css">

</head>

<body>
  <div class="container">
    <nav class="navbar navbar-inverse">
      <ul class="nav navbar-nav">
        <li><a href="/admin">Inicio</a></li>
        <li><a href="/admin/proposals/create" style="padding-left: 50px !important">Propuestas</a></li>
        <li><a href="/admin/devrooms/create">Salas</a></li>
        <li><a href="/admin/tables/create">Mesas</a></li>
        <li><a href="/admin/miscs/create">Misceláneo</a></li>
        <li><a href="/admin/posters/create">Posters</a></li>
        <li><a href="/admin/arts/create">Arte</a></li>
        <li><a href="/admin/venues/create" style="padding-left: 50px !important">Sede</a></li>
      </ul>
    </nav>
