<%- include('../partials/layout') %>

<div class="text-center">
  <h2>Salas</h2>
  <hr>
</div>

<div style="width: 60% !important; margin: auto;">
  <form id="create-tables" role="form" action="/admin/tables/create" method="post">
    <%- elements.community_name_devrooms %>
    <%- elements.web_devrooms %>
    <%- elements.community_description_devrooms %>
    <%- elements.mastodon_devrooms %>
    <%- elements.twitter_devrooms %>
    <%- elements.gitlab_devrooms %>
    <%- elements.contact_devrooms %>
    <%- elements.email_devrooms %>
    <%- elements.comments_devrooms %>
    <%- elements.call %>
    <%- elements.accept_coc_devrooms %>
    <%- elements.submit %>
  </form>
</div>

</div>

<%- include('../partials/validation') %>
