<% include partials/layout %>

	<div class="row">
		<h1>Error: <%= message %></h1>
		<!--<h2>Código: <%= error.status %></h2>
		<pre><%= error.stack %></pre>-->
	</div>
	</div>

	<% include partials/footer %>
