<%- include('../partials/layout') %>

<div class="text-center">
  <h2>Propuestas para la sección de artículos</h2>
  <hr>
</div>

<div style="width: 60% !important; margin: auto;">
  <form id="create-papers" role="form" action="/admin/venues/create" method="post">
    <%- elements.disclaimer_venue %>
    <%- elements.name_venue %>
    <%- elements.email %>
    <%- elements.team %>
    <%- elements.format_venue %>
    <%- elements.diversity %>
    <%- elements.dates %>
    <%- elements.economic %>
    <%- elements.facilities %>
    <%- elements.space %>
    <%- elements.comments %>
    <%- elements.submit %>
  </form>
</div>

</div>

<%- include('../partials/validation') %>
