<%- include('../partials/layout') %>

<div class="text-center">
  <h2>Pósters ilustrativos</h2>
  <hr>
</div>

<div style="width: 60% !important; margin: auto;">
  <form id="create-posters" role="form" action="/admin/posters/create" method="post">
    <%- elements.title_jasyp %>
    <%- elements.abstract_jasyp %>
    <%- elements.url_jasyp_poster %>
    <%- elements.project_jasyp %>
    <%- elements.name_jasyp %>
    <%- elements.email_jasyp %>
    <%- elements.bio_jasyp %>
    <%- elements.web_jasyp %>
    <%- elements.mastodon_jasyp %>
    <%- elements.twitter_jasyp %>
    <%- elements.gitlab_jasyp %>
    <%- elements.comments_jasyp %>
    <%- elements.call_jasyp %>
    <%- elements.accept_coc_jasyp %>
    <%- elements.submit_jasyp %>
  </form>
</div>

</div>

<%- include('../partials/validation') %>