<%- include('../partials/layout') %>

<div class="text-center">
  <h2>Charlas y talleres</h2>
  <hr>
</div>

<div style="width: 60% !important; margin: auto;">
  <form id="create-proposals" role="form" action="/admin/proposals/create" method="post">
    <%- elements.title_proposals %>
    <%- elements.abstract_proposals %>
    <%- elements.format_proposals %>
    <%- elements.description_proposals %>
    <%- elements.project_proposals %>
    <%- elements.target_proposals %>
    <%- elements.name_proposals %>
    <%- elements.email_proposals %>
    <%- elements.bio_proposals %>
    <%- elements.grants %>
    <%- elements.remote %>
    <%- elements.web_proposals %>
    <%- elements.mastodon_proposals %>
    <%- elements.twitter_proposals %>
    <%- elements.gitlab_proposals %>
    <%- elements.comments_proposals %>
    <%- elements.call %>
    <%- elements.accept_coc_proposals %>
    <%- elements.submit %>
  </form>
</div>

</div>

<%- include('../partials/validation') %>
