<% include ../partials/layout %>

	<div class="row">
		<div class="col-md-4 col-md-offset-4 text-center">
			<h2>JASYP C4P</h2>
			<hr>
			<img src="/jasyp_app/images/logo.png" alt="Logo" height="200" width="200">
		</div>
	</div>
	</div>

	<% include ../partials/footer %>
